{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}
<h3>Editar Postagem:</h3>
<div class="card">
    <div class="card-body">
    <form action="/admin/postagens/edit" method="POST">
    <input type="hidden" name="id" value="{{postagem._id}}">
            <label for="titulo">Título: </label>
                <input type="text" id="titulo" name="titulo" class="form-control" value="{{postagem.titulo}}" required>
            <label for="keyword" class="mt-3">Keyword: </label>
                <input type="text" name="keyword" class="form-control" value="{{postagem.keyword}}" required>
            <label for="descricao" class="mt-3">Descrição: </label>
                <input type="text" id="descricao" name="descricao" class="form-control" value="{{postagem.descricao}}" required>
            <label for="conteudo" class="mt-3">Conteúdo: </label>
                <textarea name="conteudo"  class="form-control" required> {{postagem.conteudo}} </textarea>
            <label for="conteudo" class="mt-3">Categoria: </label><br>
                <select name="categoria" class="form-control" required>
                {{#each categorias}}
                    <option value="{{_id}}"> {{nome}}</option>
                {{else}}
                    <option value="0">Nenhuma categoria registrada</option>
                {{/each}}
            </select> <br>
            <button class="btn btn-success mt-4" type="submit">Editar postagem</button>
        </form>
    </div>
</div>
